In [1]:
import pandas as pd

In [7]:
df1 = pd.read_csv("../data/assist2009/train_valid.csv")
def get_int_num(row):
    interaction_num = len(row["responses"].split(","))
    row["interaction_num"] = interaction_num
    return row
df1 = df1.apply(get_int_num, axis=1)

In [8]:
df1["interaction_num"].describe()

count    3082.000000
mean       89.102531
std       170.236689
min         3.000000
25%        11.000000
50%        26.000000
75%        79.000000
max      1295.000000
Name: interaction_num, dtype: float64

In [11]:
# 将df1按照interaction_num进行排序
df1 = df1.sort_values(by="interaction_num").reset_index(drop=True)

In [12]:
df1.head()

,fold,uid,questions,concepts,responses,is_repeat,interaction_num
0,1,3045,"7940,6222,11947","3,3,3","0,1,0","0,0,0",3
1,0,3711,"3821,6467,5291","10,10,10","1,1,1","0,0,0",3
2,2,1854,"11054,12883,2862","75,37,7","1,1,1","0,0,0",3
3,4,3846,"1703,10276,9052","88,88,88","0,1,0","0,0,0",3
4,4,3838,"16396,16450,16404","63,63,63","1,1,1","0,0,0",3

In [15]:
# 将df1分为两部分

interaction_num
3        64
4        61
5       131
6        98
7        87
       ...
1169      1
1212      1
1226      1
1285      1
1295      1
Name: count, Length: 423, dtype: int64